<p id="notice"><%= notice %></p>


  <h1><%= @discussion.question %></h1>

<%= link_to 'Join the Discussion', new_message_path %>

<%= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%= link_to 'Back', discussions_path %>
